body {
    margin: 0;
    min-height: 100vh; /* ← instead of height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    font-style: normal;
    flex-direction: column; /* Optional: stack elements vertically */
    transition: background-image 0.5s ease-in-out;
}

h1, label, p{
    margin: 8px 0;
    color: white;
}

#temp-div p{
    font-size: 30px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast{
    margin-top: 5px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading{
    color: white;
    margin-top: 10px;
}

/* example styles, change background-image or color as you want */
body.clear-bg {
  background-image: url('./assets/sunny.gif');
  background-size: cover;
  background-position: center;
}

body.cloudy-bg {
  background-image: url('./assets/cloudy.gif');
  background-size: cover;
  background-position: center;
}

body.rainy-bg {
  background-image: url('./assets/rain.gif');
  background-size: cover;
  background-position: center;
}

body.stormy-bg {
  background-image: url('./assets/stormy.gif');
  background-size: cover;
  background-position: center;
}

body.snowy-bg {
  background-image: url('./assets/snow.gif');
  background-size: cover;
  background-position: center;
}

body.foggy-bg {
  background-image: url('./assets/fog.gif');
  background-size: cover;
  background-position: center;
}

body.default-bg {
  background-color: #444;
}
